<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>高雄輕軌</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- SEARCH FORM -->


            <!-- Right navbar links -->

        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index.html" class="brand-link">
                <!-- <img src="dist/img/logo.png" alt="高雄輕軌 Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8"> -->
                <span class="brand-text font-weight-light">高雄輕軌</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="./index.html" class="nav-link">
                <i class="nav-icon fas fa-sun"></i>
                <p>
                  本日資訊
                </p>
              </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="./analysis.html" class="nav-link active">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                  總數據分析
                </p>
              </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="./live.html" class="nav-link">
                <i class="nav-icon fas fa-video"></i>
                <p>
                  即時影像
                </p>
              </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>總數據分析</h1>
                        </div>

                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{totalDays}}</h3>
                                    <p>天數據</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>

                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3 id="recordTotalNum">{{totalDataCount}}</h3>
                                    <p>筆數據</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                                <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3 id="mostAreaCount">{{mostIntrudedArea}}</h3>
                                    <p>區塊被闖入最多次</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-road"></i>
                                </div>
                                <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3 id="intrudeTotalVal">{{totalIntrudeCount}}</h3>

                                    <p>次總共闖入</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-walking"></i>
                                </div>
                                <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-md-12">
                            <!-- Line chart -->
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        危險區域闖入時間表
                                    </h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="line-chart" style="height: 300px;"></div>
                                </div>
                                <!-- /.card-body-->
                            </div>
                            <!-- /.card -->

                            <!-- Area chart -->

                            <!-- /.card -->

                        </div>
                        <!-- /.col -->


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Bar chart -->
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        各危險區域闖入次數
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="bar-chart" style="height: 300px;"></div>
                                </div>
                                <!-- /.card-body-->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <!-- Donut chart -->
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        危險區域闖入比例
                                    </h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="donut-chart" style="height: 300px;"></div>
                                </div>
                                <!-- /.card-body-->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">每日各區闖入次數表</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0" style="max-height: 500px;">
                                    <table class="table table-head-fixed">
                                        <thead>
                                            <tr>
                                                <th>日期</th>
                                                <th>R1</th>
                                                <th>R2</th>
                                                <th>R3</th>
                                                <th>R4</th>
                                                <th>R5</th>
                                                <th>R6</th>
                                                <th>R7</th>
                                                <th>R8</th>
                                                <th>R9</th>
                                                <th>R10</th>
                                                <th>R11</th>
                                                <th>R12</th>
                                                <th>R13</th>
                                                <th>R14</th>
                                                <th>R15</th>
                                                <th>R16</th>
                                                <th>R17</th>
                                                <th>R18</th>
                                                <th>R19</th>
                                                <th>R20</th>
                                                <th>R21</th>
                                                <th>R22</th>
                                                <th>R23</th>
                                                <th>R24</th>
                                                <th>R25</th>
                                                <th>R26</th>
                                                <th>R27</th>
                                                <th>R28</th>
                                                <th>R29</th>
                                                <th>R30</th>
                                                <th>R31</th>
                                                <th>R32</th>
                                                <th>R33</th>
                                                <th>R34</th>
                                                <th>R35</th>
                                                <th>R36</th>
                                                <th>R37</th>
                                                <th>R38</th>
                                                <th>R39</th>
                                                <th>R40</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in dayDictDetail">
                                                <td ng-class="{ red: x.r1 > 0 } ">{{x.date}}</td>
                                                <td ng-class="{ red: x.r1 > 0 } ">{{x.r1}}</td>
                                                <td ng-class="{ red: x.r2 > 0 } ">{{x.r2}}</td>
                                                <td ng-class="{ red: x.r3 > 0 } ">{{x.r3}}</td>
                                                <td ng-class="{ red: x.r4 > 0 } ">{{x.r4}}</td>
                                                <td ng-class="{ red: x.r5 > 0 } ">{{x.r5}}</td>
                                                <td ng-class="{ red: x.r6 > 0 } ">{{x.r6}}</td>
                                                <td ng-class="{ red: x.r7 > 0 } ">{{x.r7}}</td>
                                                <td ng-class="{ red: x.r8 > 0 } ">{{x.r8}}</td>
                                                <td ng-class="{ red: x.r9 > 0 } ">{{x.r9}}</td>
                                                <td ng-class="{ red: x.r10 > 0 } ">{{x.r10}}</td>
                                                <td ng-class="{ red: x.r11 > 0 } ">{{x.r11}}</td>
                                                <td ng-class="{ red: x.r12 > 0 } ">{{x.r12}}</td>
                                                <td ng-class="{ red: x.r13 > 0 } ">{{x.r13}}</td>
                                                <td ng-class="{ red: x.r14 > 0 } ">{{x.r14}}</td>
                                                <td ng-class="{ red: x.r15 > 0 } ">{{x.r15}}</td>
                                                <td ng-class="{ red: x.r16 > 0 } ">{{x.r16}}</td>
                                                <td ng-class="{ red: x.r17 > 0 } ">{{x.r17}}</td>
                                                <td ng-class="{ red: x.r18 > 0 } ">{{x.r18}}</td>
                                                <td ng-class="{ red: x.r19 > 0 } ">{{x.r19}}</td>
                                                <td ng-class="{ red: x.r20 > 0 } ">{{x.r20}}</td>
                                                <td ng-class="{ red: x.r21 > 0 } ">{{x.r21}}</td>
                                                <td ng-class="{ red: x.r22 > 0 } ">{{x.r22}}</td>
                                                <td ng-class="{ red: x.r23 > 0 } ">{{x.r23}}</td>
                                                <td ng-class="{ red: x.r24 > 0 } ">{{x.r24}}</td>
                                                <td ng-class="{ red: x.r25 > 0 } ">{{x.r25}}</td>
                                                <td ng-class="{ red: x.r26 > 0 } ">{{x.r26}}</td>
                                                <td ng-class="{ red: x.r27 > 0 } ">{{x.r27}}</td>
                                                <td ng-class="{ red: x.r28 > 0 } ">{{x.r28}}</td>
                                                <td ng-class="{ red: x.r29 > 0 } ">{{x.r29}}</td>
                                                <td ng-class="{ red: x.r30 > 0 } ">{{x.r30}}</td>
                                                <td ng-class="{ red: x.r31 > 0 } ">{{x.r31}}</td>
                                                <td ng-class="{ red: x.r32 > 0 } ">{{x.r32}}</td>
                                                <td ng-class="{ red: x.r33 > 0 } ">{{x.r33}}</td>
                                                <td ng-class="{ red: x.r34 > 0 } ">{{x.r34}}</td>
                                                <td ng-class="{ red: x.r35 > 0 } ">{{x.r35}}</td>
                                                <td ng-class="{ red: x.r36 > 0 } ">{{x.r36}}</td>
                                                <td ng-class="{ red: x.r37 > 0 } ">{{x.r37}}</td>
                                                <td ng-class="{ red: x.r38 > 0 } ">{{x.r38}}</td>
                                                <td ng-class="{ red: x.r39 > 0 } ">{{x.r39}}</td>
                                                <td ng-class="{ red: x.r40 > 0 } ">{{x.r40}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <!-- FLOT CHARTS -->
    <script src="plugins/flot/jquery.flot.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js" integrity="sha256-gCrSjRo/Z6W7Cfc1oEL6BH8HKjgiiO+ItV8A+z9Scpw="
        crossorigin="anonymous"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="plugins/flot-old/jquery.flot.resize.min.js"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script src="plugins/flot-old/jquery.flot.pie.min.js"></script>
    <!-- Page script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="js/analysis.js"></script>


    <script>

    </script>

</body>

</html>