<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>高雄輕軌</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Page Css -->
  <link rel="stylesheet" href="css/index.css">

  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <style>
    .red {
      color: red;
    }
  </style>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>

      </ul>

      <!-- SEARCH FORM -->


      <!-- Right navbar links -->

    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index.html" class="brand-link">
        <!-- <img src="dist/img/logo.png" alt="高雄輕軌 Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8"> -->
        <span class="brand-text font-weight-light">高雄輕軌</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
              <a href="./index.html" class="nav-link active">
                <i class="nav-icon fas fa-sun"></i>
                <p>
                  本日資訊
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a href="./analysis.html" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                  總數據分析
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a href="./live.html" class="nav-link">
                <i class="nav-icon fas fa-video"></i>
                <p>
                  即時影像
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a href="./field.html" class="nav-link">
                <i class="nav-icon fas fa-cubes"></i>
                <p>
                  3D點雲
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>本日數據</h1>
            </div>

          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3 id="recordTotalNum">{{totalDataCount}}</h3>
                  <p>筆數據</p>
                </div>
                <div class="icon">
                  <i class="fas fa-chart-bar"></i>
                </div>
                <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3 id="mostAreaCount">{{areaIntrudeMost}}</h3>
                  <p>被闖入最多次</p>
                </div>
                <div class="icon">
                  <i class="fas fa-road"></i>
                </div>
                <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3 id="intrudeTotalVal">{{totalIntrudeCount}}</h3>

                  <p>次總共闖入</p>
                </div>
                <div class="icon">
                  <i class="fas fa-walking"></i>
                </div>
                <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
              </div>
            </div>
            <!-- ./col -->
          </div>

          <!-- /.row -->

          <div class="row">
            <div class="col-md-12">
              <!-- Line chart -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                    危險區域闖入時間表
                  </h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div id="line-chart" style="height: 300px;"></div>
                </div>
                <!-- /.card-body-->
              </div>
              <!-- /.card -->

              <!-- Area chart -->

              <!-- /.card -->

            </div>
            <!-- /.col -->


          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Bar chart -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                    各危險區域闖入次數
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div id="bar-chart" style="height: 300px;"></div>
                </div>
                <!-- /.card-body-->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <!-- Donut chart -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                    危險區域闖入比例
                  </h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div id="donut-chart" style="height: 300px;"></div>
                </div>
                <!-- /.card-body-->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">列車通過時間表</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="max-height: 500px;">
                  <table class="table table-head-fixed">
                    <thead>
                      <tr>
                        <th>西邊草皮號誌</th>
                        <th>東邊草皮號誌</th>
                        <th>方向</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in scheduleData">
                        <td>{{x.west}}</td>
                        <td>{{x.east}}</td>
                        <td>{{x.type}}</td>

                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">各區闖入次數表</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="max-height: 500px;">
                  <table class="table table-head-fixed">
                    <thead>
                      <tr>
                        <th>時間</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in tableData">
                        <td>{{x.time}}</td>
                        <td ng-class="{ red: x.area1 > 0 } ">{{x.area1}}</td>
                        <td ng-class="{ red: x.area2 > 0 } ">{{x.area2}}</td>
                        <td ng-class="{ red: x.area3 > 0 } ">{{x.area3}}</td>
                        <td ng-class="{ red: x.area4 > 0 } ">{{x.area4}}</td>
                        <td ng-class="{ red: x.area5 > 0 } ">{{x.area5}}</td>
                        <td ng-class="{ red: x.area6 > 0 } ">{{x.area6}}</td>
                        <td ng-class="{ red: x.area7 > 0 } ">{{x.area7}}</td>
                        <td ng-class="{ red: x.area8 > 0 } ">{{x.area8}}</td>
                        <td ng-class="{ red: x.area9 > 0 } ">{{x.area9}}</td>
                        <td ng-class="{ red: x.area10 > 0 } ">{{x.area10}}</td>
                        <td ng-class="{ red: x.area11 > 0 } ">{{x.area11}}</td>
                        <td ng-class="{ red: x.area12 > 0 } ">{{x.area12}}</td>
                        <td ng-class="{ red: x.area13 > 0 } ">{{x.area13}}</td>
                        <td ng-class="{ red: x.area14 > 0 } ">{{x.area14}}</td>
                        <td ng-class="{ red: x.area15 > 0 } ">{{x.area15}}</td>
                        <td ng-class="{ red: x.area16 > 0 } ">{{x.area16}}</td>
                        <td ng-class="{ red: x.area17 > 0 } ">{{x.area17}}</td>
                        <td ng-class="{ red: x.area18 > 0 } ">{{x.area18}}</td>
                        <td ng-class="{ red: x.area19 > 0 } ">{{x.area19}}</td>
                        <td ng-class="{ red: x.area20 > 0 } ">{{x.area20}}</td>
                        <td ng-class="{ red: x.area21 > 0 } ">{{x.area21}}</td>
                        <td ng-class="{ red: x.area22 > 0 } ">{{x.area22}}</td>
                        <td ng-class="{ red: x.area23 > 0 } ">{{x.area23}}</td>
                        <td ng-class="{ red: x.area24 > 0 } ">{{x.area24}}</td>
                        <td ng-class="{ red: x.area25 > 0 } ">{{x.area25}}</td>
                        <td ng-class="{ red: x.area26 > 0 } ">{{x.area26}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">區塊示意圖</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <img src="img/map-area-number.png" alt="map-demo" class="map-demo">
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI -->
  <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="dist/js/demo.js"></script>
  <!-- FLOT CHARTS -->
  <script src="plugins/flot/jquery.flot.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"
    integrity="sha256-gCrSjRo/Z6W7Cfc1oEL6BH8HKjgiiO+ItV8A+z9Scpw=" crossorigin="anonymous"></script>
  <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
  <script src="plugins/flot-old/jquery.flot.resize.min.js"></script>
  <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
  <script src="plugins/flot-old/jquery.flot.pie.min.js"></script>
  <!-- Page script -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script src="js/index.js"></script>


  <script>

  </script>

</body>

</html>